<h1 *ngIf="uid">Current Game ID : {{uid}}</h1>
<p>
  <button class="success" *ngIf="!uid" (click)="initGame()">Start new game</button>
</p>

<button class="danger pull-right" *ngIf="uid" (click)="finishGame()">Finish game</button>

<br>
<hr />

<button class="primary" *ngIf="uid && !handShown" (click)="showHand()">Show hand</button>

<button class="primary" *ngIf="uid && handShown" (click)="hideHand()">Hide hand</button><br><br>

<div *ngIf="uid && handShown">
  <img *ngFor="let card of cards" src="/assets/cards/{{card.code}}.png" width="7%" style="margin: 10px"/>
</div>


<button class="primary" *ngIf="uid && handShown" (click)="sortHand()">Sort hand</button><br><br>

<div *ngIf="uid && handShown">
  <img *ngFor="let card of sortedCards" src="/assets/cards/{{card.code}}.png" width="7%" style="margin: 10px"/>
</div>
